@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap");
header {
  background-color: rgba(58, 110, 165, 0.6);
  position: sticky;
  top: 0;
  z-index: 2; }

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 104px; }
  nav .imgLogo, nav .imgLogo-mobile {
    width: 10rem; }
    nav .imgLogo:hover, nav .imgLogo-mobile:hover {
      transform: rotate(-0.7deg) scale(1.1);
      transition: 0.6s; }
  nav .imgLogo-mobile {
    display: none; }

.contenedorBarra {
  display: flex;
  height: 50px;
  width: 30%; }
  .contenedorBarra .barra {
    border: 0;
    padding: 0 10px;
    width: 100%;
    border-top-left-radius: 10px; }
  .contenedorBarra .div-busqueda {
    display: flex;
    text-align: center;
    height: auto; }
    .contenedorBarra .div-busqueda .btn-busqueda {
      border: none;
      height: auto;
      width: 100%;
      padding: 10px 15px 15px 15px;
      border-bottom-right-radius: 10px;
      background-color: #2e2e2e;
      fill: white;
      font-size: 1rem; }
      .contenedorBarra .div-busqueda .btn-busqueda:hover .svg-busqueda {
        transition: all 0.5s;
        transform: scale(1.1); }

.btn-sesion-mobile {
  display: none;
  border: 1px solid #1c3550;
  border-radius: 5px;
  background-color: #1c3550; }
  .btn-sesion-mobile a {
    text-decoration: none;
    color: white; }

.btn-busqueda-mobile {
  display: none;
  border: none;
  padding: 10px 15px 15px 15px;
  border-bottom-right-radius: 10px;
  background: none;
  fill: white;
  font-size: 1rem; }

.listaAccesos {
  display: flex;
  flex-direction: row; }
  .listaAccesos .nav-item {
    padding: 15px; }
    .listaAccesos .nav-item .navLogo {
      fill: white; }
      .listaAccesos .nav-item .navLogo:hover {
        transition: all 0.3s;
        transform: scale(1.2);
        fill: #2e2e2e; }

.menu-slide-local {
  display: none; }
  .menu-slide-local .btn-burger {
    border: none;
    padding: 0;
    margin-right: 10px; }
    .menu-slide-local .btn-burger svg {
      fill: white;
      width: 24px;
      height: 24px; }
  .menu-slide-local .menu-burger-local {
    background-color: #1c3550; }

.container-search-bar-local {
  height: 50px;
  width: 330px;
  display: none; }
  .container-search-bar-local .barra {
    border: 0;
    padding: 0 10px;
    width: 100%;
    border-top-left-radius: 10px; }
  .container-search-bar-local .div-busqueda {
    display: flex;
    text-align: center;
    height: auto; }
    .container-search-bar-local .div-busqueda .btn-busqueda {
      border: none;
      height: auto;
      width: 100%;
      padding: 10px 15px 15px 15px;
      border-bottom-right-radius: 10px;
      background-color: #2e2e2e;
      fill: white;
      font-size: 1rem; }
      .container-search-bar-local .div-busqueda .btn-busqueda:hover .svg-busqueda {
        transition: all 0.5s;
        transform: scale(1.1); }

.titulos {
  font-size: 2.5rem;
  font-family: 'League Spartan', sans-serif; }

.subtitulo-help {
  font-size: 1.5rem; }

.subtitulo-uno {
  padding-left: 20px; }

.subtitulo-dos {
  padding-right: 20px;
  color: white;
  padding-left: 10px; }

/* DECORACION TITULOS */
.decorate-titulos {
  display: flex; }

.decorate-titulos::before, .decorate-titulos::after {
  content: "";
  display: block;
  border-bottom: 8px solid;
  transform: translateY(-26px); }

.decorate-titulos::before {
  flex: 20px;
  width: 20px;
  min-width: 20px; }

.decorate-titulos::after {
  flex: 100; }

.item-carousel-local {
  width: 100%;
  height: 100%; }

.fondo-container-local {
  background-color: #292929;
  border-radius: 15px;
  left: 50%;
  bottom: 20%; }

.img-carousel-mobile {
  height: 147px;
  width: 100%; }

.gap {
  height: 30px; }

.gap-2 {
  height: 60px; }

.gap-3 {
  height: 90px; }

body {
  background: linear-gradient(to bottom, #00a7e1, #3a6ea5); }

.imgSize {
  height: 294px;
  width: auto;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px; }
  .imgSize:hover {
    transition: all 0.2s;
    filter: blur(2px); }

.text-sub {
  padding-right: 4px;
  font-size: 1rem;
  color: white; }
  .text-sub .text-precio {
    background-color: #292929;
    padding: 6px 6px 6px 6px; }

.text-name {
  padding-right: 4px;
  font-weight: bold; }

footer {
  background-color: #3A6EA5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 1.3rem;
  color: white; }
  footer .imgLogo-footer {
    width: 10rem; }
  footer .icon-footer-local {
    fill: white; }

/* MEDIAS QUERIES */
/* 1200px */
@media (max-width: 1200px) {
  .menu-slide-local {
    display: inline-block; }
  .listaAccesos {
    display: none; }
  .fondo-container-local {
    left: 48%;
    bottom: 10%;
    right: 11%;
    font-size: 0.9rem; }
  .form-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; } }

/* 992px */
@media (max-width: 992px) {
  .item-carousel-local {
    width: auto;
    height: 150%;
    overflow: hidden; }
  .container-search-bar-local {
    display: flex; }
  .contenedorBarra {
    display: none; }
  .btn-busqueda-mobile {
    display: inline-block; }
  #myCarousel {
    display: none; } }

/* 768px */
@media (max-width: 768px) {
  .titulos {
    font-size: 1.5rem; }
  .subtitulo-help {
    font-size: 1rem; }
  .decorate-titulos::before, .decorate-titulos::after {
    content: "";
    display: block;
    border-bottom: 7px solid;
    transform: translateY(-14px); }
  .decorate-titulos::before {
    flex: 20px;
    width: 20px;
    min-width: 20px; }
  .decorate-titulos::after {
    flex: 100; } }

@media (max-width: 576px) {
  nav {
    padding: 0;
    justify-content: space-around; }
    nav .btn-sesion-mobile {
      display: inline-block; }
    nav .logo {
      display: none; }
    nav .imgLogo, nav .imgLogo-mobile {
      display: none; }
    nav .imgLogo-mobile {
      display: inline-block;
      width: 3rem; }
    nav .contenedorNav div {
      padding: 0; }
  .decorate-titulos::before {
    flex: 60px; }
  .imgSize {
    height: 147px;
    width: auto; } }
