@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.titulos{
    font-size: 2.5rem;
    font-family: 'League Spartan', sans-serif;
}

header{
    grid-area: header;
    background-color: #3A6EA5;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 104px;
}

.listaAccesos{
    display: flex;
    flex-direction: row;
}

.navLogo{
    padding: 20px;
}

.navLogo2{
    padding: 20px;
    display: none;
}

.imgLogo{
    height: 60px;
}
.contenedorBarra{
    display: flex;
    height: 50px;
}

.barra{
    border: 0;
    padding: 0px 10px;
    width: 400px;
    border-top-left-radius: 10px ;
}

.botonBusqueda{
    border: 0;
    width: 75px;
    border-bottom-right-radius: 10px ;
    background-color: rgb(172, 172, 172);
    color: white;
    font-size: 1rem;
}

.botonBusqueda:hover{
    transition: all 0.5s;
    background-color: #95beeb;
    color: black;
}

.promocional{
    width: 100%;
}
.carusel{
    padding: 0;
}
body{
    background-color: #95beeb;
}
.gap{
    height: 30px;
}
.gap-2{
    height: 60px;
}
.gap-3{
    height: 90px;
}
.publi{
    height: 200px;
    width: 200px;
}
.subtitulo{
    padding:  6px 6px 0 6px;
    color: white;
    background-color: red;
}
/* JUEGOS DESTACADOS */

.imgSize{
    height: 294px;
    width: 294px;
    border-bottom-right-radius: 20px ;
    border-top-left-radius: 20px ;
}
.text-sub{
    padding-right: 4px;
    font-size: 1rem;
    color: white;
}
.text-precio{
    background-color: red;
    padding:  6px 6px 6px 6px;
}
.text-name{
    padding-right: 4px;
    font-weight: bold;
}
.btn-juegos{
    transform: translate(0, -170px);
    background-color: #3A6EA5;
    border: 2px solid #3A6EA5;
    border-radius: 15px;
    padding: 5px;
    font-size: 1.025rem;
    color: white;
    display: none;
}

.imgSizeFilter:hover{
    transition: all 0.2s;
    filter:blur(2px);
}
.imgSize:hover .btn-juegos{
    display: inline-block;
}
.btn-juegos:hover{
    transition: all 0.5s;
    background-color: #254b74;
    border: 2px solid white;
}


/* PAGINA FAVORITOS */
.titulo-fav{
    font-size: 1.7rem;
}
.caja-fav{
    padding-top: 40px;
}
.caja-fav-last{
    padding-top: 40px ;
    padding-bottom: 40px;
}
.imgSize-fav{
    height: 180px;
    width: auto;
    padding-left: 0;
    border-top-left-radius: 20px;
}
.trash-logo-fav{
    background-color: #3A6EA5;
    padding: 10px;
}
.trash-logo-fav:hover{
    transition: all 0.3s;
    background-color: #284d75;
}
.desc-juego{
    background-color: #76b1f0;
    height: 180px;
}
.trash-fav button{
    border: none;
}

.btn-fav{
    border: 1px solid white;
    border-radius: 12px;
    padding: 5px;
    width: 100%;
}

.btn-fav:hover{
    transition: all 0.5s;
    background-color: #1c3550;
    color: white;
}


/* PAGINA USUARIO */
.caja-user{
    width: 30%;
    background-color: #76b1f0;
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-control{
    width: 100%;
    height: 50px;
}
.form-label{
    color: white;
}
.form-check-label{
    color: rgb(0, 0, 0);
}
.form-text{
    color: rgb(94, 94, 94);
}
/* FOOTER */
footer{
    background-color: #3A6EA5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    font-size: 1.3rem;
}
.lista-footer{
    display: flex;
}
.lista-footer li{
    margin: 10px;
}