header{
    background-color: rgba(58, 110, 165,.6);
    position: sticky;
    top: 0;
    z-index: 2;
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 104px;

        .imgLogo{
            width: 10rem;
            &:hover{
                transform: rotate(-0.7deg) scale(1.1);
                transition: 0.6s;
            }
        }

        .contenedorBarra{
            display: flex;
            height: 50px;
            width: 30%;

            .barra{
                border: 0;
                padding: 0 10px;
                width: 100%;
                border-top-left-radius: 10px;
            }
            .div-busqueda{
                display: flex;
                text-align: center;
                height: auto;
                .btn-busqueda{
                    border: none;
                    height: auto;
                    width: 100%;
                    padding: 10px 15px 15px 15px;
                    border-bottom-right-radius: 10px ;
                    background-color: rgb(46, 46, 46);
                    fill: white;
                    font-size: 1rem;
                    &:hover .svg-busqueda{
                        transition: all 0.5s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
.listaAccesos{
    display: flex;
    flex-direction: row;

    .nav-item{
        padding: 15px;

        .navLogo{
            fill: white;
            &:hover{
                transition: all 0.3s;
                transform: scale(1.2);
                fill: rgb(46, 46, 46);
            }
        }
    }
}
.menu-slide-local{
    display: none;

    .menu-burger-local{
        background-color: #1c3550;
    }
}
.container-search-bar-local{
    height: 50px;
    width: 330px;
    display: none;
}