.imgSize{
    height: auto;
    width: 294px;
    border-bottom-right-radius: 20px ;
    border-top-left-radius: 20px ;
    &:hover{
        transition: all 0.2s;
        filter:blur(2px);
    }
}
.text-sub{
    padding-right: 4px;
    font-size: 1rem;
    color: white;
    .text-precio{
        background-color: #292929;
        padding:  6px 6px 6px 6px;
    }
}
.text-name{
    padding-right: 4px;
    font-weight: bold;
}