/* MEDIAS QUERIES */
@media (max-width:1440px){
    .btn-juegos{
        right: 38%;
    }
}
/* 1200px */
@media (max-width: 1200px) {
    .filtro-juegos{
        &:hover .btn-juegos{
            display: none;
        }
    }
    .menu-slide-local{
        display: inline-block;
    }   
    .listaAccesos{
        display: none;
    }
    .fondo-container-local{
        left: 48%;
        bottom: 10%;
        right: 11%;
        font-size: 0.9rem;
    }
    .form-check{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

/* 992px */
@media (max-width:992px){
    .item-carousel-local{
        width: auto;
        height: 150%;
        overflow: hidden;
    }
    .container-search-bar-local{
        display: flex;
    }
    .contenedorBarra{
        display: none;
    }
    .btn-busqueda-mobile{
        display: inline-block;
    }
    #myCarousel{
        display: none;
    }
    .btn-publi{
        right: 20%;
        top: 35%;
        width: 200px;
        height: 58px;
        font-size: 1rem;
    }
}

/* 768px */
@media (max-width:768px){
    .imgSize{
        height: 168px;
        padding-top: 10px;
    }
    .caja-precio-juegos{
        display: none;
    }
    .titulos{
        font-size: 1.9rem;
    }
    .subtitulo-help{
        font-size: 1rem;
    }
    .decorate-titulos::before, .decorate-titulos::after{
        content: "";
        display: block;
        border-bottom: 7px solid;
        transform: translateY(-14px);
    }
    .decorate-titulos::before{
        flex: 20px;
        width: 20px;
        min-width: 20px;
    }
    .decorate-titulos::after{
        flex: 100;
    
    }
    .img-publi{
        display: none;
    }
    .img-publi-mobile{
        display: inline-block;
    }
    .btn-publi{
        right: 34%;
        top: 63%;
        width: 291px;
        height: 98px;
        font-size: 1.5rem;
    }
    .caja-recomendados-cart{
        display: none!important;
    }
    .caja-user{
        width: 80%;
        padding: 20px;
        margin-bottom: 20%;
    }
}

@media (max-width: 576px){

    nav{
        .btn-sesion-mobile{
            display: inline-block;
        }
        .logo{
            display: none;
        }
        .ancla-logo-mobile{
            display: inline-block;
        }
        .imgLogo-mobile{
            width: 4.5rem;
        }
        .contenedorNav{
            div{
                padding: 0;
            }
        }
    }
    .decorate-titulos::before{
        flex: 60px;
    }
    .imgSize{
        height: 147px;
        width: auto;
    }
    .btn-publi{
        right: 27%;
    }
    .caja-user{
        width: 90%;
    }

}