*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

//PARTIALS
@import "titulos";
@import "gap";
@import "fonts";
@import "header";
@import "main";
@import "footer";
@import "maps";
@import "mediasq";